body {
  padding: 0;
  margin: 0;
  background-color: rgb(254, 255, 188);
}

.slideshow {
  background-color: rgb(255, 218, 188);
  width: 350px;
  padding: 3rem;
  /*display: felx;
  justify-content: center;
  align-items: center; 
  how to center???*/
}

.mySlides {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/*div {
  width: 1000px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.navbar {
  background: #948bee;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  white-space: nowrap;
}

.box {
  width: 95%;
  height: 500px;
  background: rgb(255, 255, 255);
  margin: 20px auto;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  border: 2px solid rgb(201, 201, 201);
  box-shadow: 5px 5px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.box:hover {
  opacity: 0.7;
  box-shadow: 5px 5px rgb(162, 160, 255);
}

@media screen and (max-width: 1200px) {
  .box {
    width: 100%;
    height: 500px;
    background: rgb(255, 255, 255);
    display: center;
    justify-content: center;
    align-items: center;
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 2;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  /*padding: 22px;*/
  /*text-align: center;*/
}

.logo-image {
  width: 100px;
  height: 80px;
  border-radius: 0%;
  overflow: visible;
  margin-top: 0px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: felx;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #4d1aac;
  color: #fff;
}

.button:hover {
  background: #a39afd;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #4d1aac;
  transition: all 0.3s ease;
}

#navbar__logo {
  background-color: #ffffff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /*display: flex;*/
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Chalkduster";
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .logo-image {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  #navbar__logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navbar__menu {
    font-size: 0.7rem;
    display: flex;
  }
}

/*.item {
  width: 100%;
  padding: 50px;
  height: 280px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.first {
  margin-top: 100px;
}
.default {
  margin-top: 64px;
}
.col-full {
  width: 1044px;
}*/

/* @media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolut;
    top: -1000px;
  }
}*/
